/**
 * @file
 * Styles for display of themed comment_update table of updates.
 */

/**
 * Main comment_update styles.
 *
 * Main styles applied to comment_update table of updates within comment view
 * displays.
 */
.comment-update-table {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  margin: 0;
  margin-bottom: 1em;
  text-align: left;
  width: auto;
}

.comment-update-table .comment-update-row {
  border: 0;
}

.comment-update-table .comment-update-label {
  background: none;
  color: inherit;
  border: 0;
  padding: 1px 0.5em;
  vertical-align: top;
  white-space: nowrap;
}

.comment-update-table .comment-update-value,
.comment-update-table .comment-update-separator {
  background: none;
  color: inherit;
  border: 0;
  padding: 1px 0.5em;
  vertical-align: top;
}

.comment-update-table .comment-update-old {
  text-decoration: line-through;
}

.comment-update-table .comment-update-new {
  font-weight: bold;
}

.comment-update-table .comment-update-empty {
  color: #990000;
}

.comment-update-table .comment-update-rev-not-found {
  color: #FF0000;
  font-style: italic;
}

.comment-update-table .comment-update-value div:last-child,
.comment-update-table .comment-update-value p:last-child,
.comment-update-table .comment-update-value table:last-child,
.comment-update-table .comment-update-value img:last-child {
  margin: 0;
}

/**
 * Field collection styles.
 *
 * Applies some fixes to correct the formatting of field collections inside the
 * comment_update table of updates.
 */
.comment-update-table .field-collection-view {
  padding: 0;
}

.comment-update-table .field-collection-container {
  border: 0;
}

.comment-update-table .field-collection-view .field-label {
  width: auto;
}

.comment-update-table .field-collection-view .entity-field-collection-item {
  float: none;
}

.comment-update-table .field-collection-view .field-collection-view-links {
  display: none;
  float: none;
  margin: 1em 0;
}
